
.tabs-icon i {
    display: block;
    margin-top: 5px;
    margin-bottom: -15px;
    font-size: 24px;
}

.no-pd {
    padding: 0 !important
}

.survey-modal {  
    width: 90%; 
    height: 90%; 
    top: 5%; 
    left: 5%; 
    right: 5%; 
    bottom: 5%;
}