<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">

  <base href="/">

  <title>Serverless Survey</title>

  <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/materialize-css/dist/css/materialize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="css/scrollbar.css">
  <link rel="stylesheet" href="css/app.css">

  <script src="static/jquery/dist/jquery.min.js"></script>
  <script src="static/moment/moment.js"></script>
  <script src="static/angular/angular.min.js"></script>
  <script src="static/materialize-css/dist/js/materialize.min.js"></script>
  <script src="static/angular-materialize/src/angular-materialize.min.js"></script>
  <script src="static/firebase/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyBDBeP25YSh1I3QzypJt3Pn6M30w0OSIvE",
      authDomain: "survey-ebf96.firebaseapp.com",
      databaseURL: "https://survey-ebf96.firebaseio.com",
      storageBucket: "survey-ebf96.appspot.com",
      messagingSenderId: "105965164482"
    };
    firebase.initializeApp(config);
  </script>
  <script src="static/angularfire/dist/angularfire.min.js"></script>
  <script src="static/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="app.js"></script>
</head>

<body ng-app="surveyApp">
  <ul id="options" class="dropdown-content">
    <li><a ng-click="logout()">Logout</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">Survey</a>
      <ul class="right">
        <li>
          <a class="dropdown-button fa fa-sort-desc" href="#!" data-activates="options"></a>
        </li>
      </ul>
    </div>
  </nav>
  <div ui-view></div>
</body>
</html>