<div class="row">
  <div class="col s12 no-pd">
    <ul tabs class="tabs tabs-icon" reload="allTabContentLoaded">
      <li class="tab col s4"><a href="#create-survey"><i class="material-icons">edit</i>Create</a></li>
      <li class="tab col s4"><a class="active" href="#list-survey" ng-init="fetchSurveysFromDB()"><i class="material-icons">list</i>Listing</a></li>
      <li class="tab col s4"><a href="#view-response"><i class="material-icons">send</i>Responses</a></li>
    </ul>
  </div>
  <div id="create-survey" class="col offset-s2 s8">
    <div input-field>
      <input type="text" ng-model="survey.title" length="150">
      <label>Survey Title (Must be Unique)</label>
    </div>
    <div input-field>
      <textarea ng-model="survey.description" class="materialize-textarea"></textarea>
      <label>Description</label>
    </div>

    <div input-field ng-repeat="question in survey.questions track by $index">
      <div class="row">
        <div class="col s10">
          <textarea ng-model="survey.questions[$index].desc" class="materialize-textarea"></textarea>
          <label>Q {{$index + 1}} (type : {{question.type}})</label>
        </div>
        <div class="col s2">
          <i class="medium material-icons" ng-click="removeSurveyQuestion($index)">remove_circle</i>
        </div>
      </div>
      <div ng-if="question['options'].length > 0">
        <div class="row" ng-repeat="option in question.options track by $index">
          <div class="col s10" >
            Q {{$parent.$index + 1}} -> Option {{$index + 1}}:
            <div class="input-field inline">
              <input type="text" ng-model="survey.questions[$parent.$index].options[$index]" length="150">
            </div>
          </div>
          <div class="col s2">
            <i class="material-icons" ng-click="removeSurveyQuestionOption($parent.$index, $index)">remove_circle</i>
            <i class="material-icons" ng-show="$last" ng-click="addSurveyQuestionOption($parent.$index, $index)">add_circle</i>
          </div>
        </div>
      </div>
    </div>

    <div class="fixed-action-btn click-to-toggle">
      <a class="btn-floating btn-large red">
        <i class="large material-icons">menu</i>
      </a>
      <ul>
        <li ng-click="addSurveyQuestion('text')">
          <a class="btn-floating blue"><i class="material-icons">text_fields</i></a>
        </li>
        <li ng-click="addSurveyQuestion('multiple')">
          <a class="btn-floating orange"><i class="material-icons">dns</i></a>
        </li>
        <li ng-click="updateSurveyToCache()">
          <a class="btn-floating yellow"><i class="material-icons">update</i></a>
        </li>
        <li ng-click="updateSurveyToDB()">
          <a class="btn-floating green"><i class="material-icons">save</i></a>
        </li>
        <li ng-click="setSurveyToPreview(survey, false)">
          <a class="btn-floating" data-target="survey-preview" modal><i class="material-icons">search</i></a>
        </li>
      </ul>
    </div>
  </div>
  <div id="list-survey" class="col offset-s2 s8">
    <ul class="collection" ng-show="surveys.length > 0">
      <li class="collection-item avatar" ng-repeat="survey in surveys">
        <i class="material-icons circle green">insert_chart</i>
        <span class="title">{{survey.title}}</span>
        <p>{{survey.description}}</p>
        <div class="fixed-action-btn horizontal secondary-content">
          <a class="btn-floating green">
            <i class="material-icons">more_vert</i>
          </a>
          <ul>
            <li><a class="btn-floating yellow" ng-click="fetchSurveyResFromDB(survey.title, 'view-response')"><i class="material-icons">send</i></a></li>
            <li><a class="btn-floating purple" ng-click="editSurvey($index, 'create-survey')"><i class="material-icons">edit</i></a></li>
            <li><a class="btn-floating blue" data-target="survey-preview" modal ng-click="setSurveyToPreview(survey, false)"><i class="material-icons">search</i></a></li>
            <li><a class="btn-floating red" ng-click="deleteSurvey($index)"><i class="material-icons">delete_forever</i></a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div id="view-response" class="col offset-s3 s6">
    <h3 class="center">{{serveyResponseTitle}}</h3>
    <ul class="collection">
      <li class="collection-item avatar" ng-repeat="survey in surveyResponse">
        <i class="material-icons circle yellow">insert_chart</i>
        <span class="title">{{survey.by}}</span>
        <p>Sent : {{getTime(survey.when)}}</p>
        <div class="fixed-action-btn horizontal secondary-content">
          <a ng-click="setSurveyToPreview(survey, true)" data-target="survey-preview" modal class="btn-floating yellow">
            <i class="material-icons">search</i>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>

<div id="survey-preview" class="modal modal-fixed-footer survey-modal">
  <div class="modal-content">
    <h4>{{surveyToPreview.title}}</h4>
    <blockquote>{{surveyToPreview.description}}</blockquote>
    <blockquote>{{surveyToPreview.locked ? 'Sent' : 'Updated'}} : {{getTime(surveyToPreview.when)}}</blockquote>
    <div ng-repeat="question in surveyToPreview.questions track by $index">
      <p class="flow-text">Q{{$index + 1 + ' : ' + question.desc}}</p>
      <div ng-if="question.type == 'text'">
        <input type="text"
            ng-disabled="surveyToPreview.locked"
            length="150"
            ng-model="surveyToPreview.questions[$index].answers">
      </div>
      <div ng-if="question.type == 'multiple'">
        <div class="row" ng-repeat="option in question.options track by $index">
          <input type="checkbox"
            ng-disabled="surveyToPreview.locked"
            id="{{$parent.$index + '-' + $index + '-' + option}}"
            ng-model="surveyToPreview.questions[$parent.$index].answers[$index]"
            ng-change="surveyOptionClicked(option)" />
          <label for="{{$parent.$index + '-' + $index + '-' + option}}">{{option}}</label>
        </div>
      </div>
    </div>
    <div class="row center" ng-if="!surveyToPreview.locked">
      <button class="btn waves-effect waves-light">Submit
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
  <div class="modal-footer">
    <a href class="modal-action modal-close btn waves-effect waves-light red">Close</a>
  </div>
</div>