<div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center theme-color">Login {{select.loginRole}}</h1>
      <div class="row">
        <div class="col offset-s3 s6">
            <select ng-model="select.loginRole" material-select>
              <option value="" disabled>Choose your role</option>
              <option value="Admin">Admin</option>
              <option value="User">User</option>
            </select>
        </div>
      </div>
      <div class="center">
          <a class="waves-effect waves-light btn-large red" ng-click="commonLogin('google')"><i class="fa fa-google" aria-hidden="true"></i></a>
          <!-- <a class="waves-effect waves-light btn-large light-blue" ng-click="commonLogin('facebook')"><i class="fa fa-facebook" aria-hidden="true"></i></a> -->
          <a class="waves-effect waves-light btn-large light-blue" ng-click="commonLogin('twitter')"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
    </div>
</div>