<div class="row">
  <div class="col s12 no-pd">
    <ul tabs class="tabs tabs-icon" reload="allTabContentLoaded">
      <li class="tab col s6"><a href="#user-profile"><i class="material-icons">person</i>Profile</a></li>
      <li class="tab col s6"><a class="active" href="#list-survey" ng-init="fetchSurveyResFromDB()"><i class="material-icons">list</i>Listing</a></li>
    </ul>
  </div>
  <div id="user-profile" class="col offset-s3 s6">
    <h3 class="center">User Profile</h3>
    <blockquote>{{userData.displayName}}</blockquote>
    <blockquote>{{userData.email}}</blockquote>
    <blockquote>Role : {{userData.role}}</blockquote>
  </div>
  <div id="list-survey" class="col offset-s2 s8" ng-show="surveys.length > 0">
    <h3 class="center">Survey List</h3>
    <!-- <blockquote>Green  : Response not yet Recorced</blockquote>
    <blockquote>Yellow : Response has been Recorded</blockquote> -->
    <ul class="collection">
      <li class="collection-item avatar" ng-repeat="survey in surveys">
        <i class="material-icons circle {{surveyAlreadySent(survey.title) ? 'yellow' : 'green'}}">insert_chart</i>
        <span class="title">{{survey.title}}</span>
        <p>{{survey.description}}</p>
        <div class="fixed-action-btn horizontal secondary-content">
          <a class="btn-floating {{surveyAlreadySent(survey.title) ? 'yellow' : 'green'}}" ng-click="setSurveyToPreview($index, survey.title)" data-target="survey-preview" modal tooltipped data-position="top" data-delay="50" data-tooltip="{{surveyAlreadySent(survey.title) ? 'View' : 'Open'}} {{survey.title}}">
            <i class="material-icons">{{surveyAlreadySent(survey.title) ? 'send' : 'search'}}</i>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
<div id="survey-preview" class="modal modal-fixed-footer survey-modal">
  <div class="modal-content">
    <h4>{{surveyToPreview.title}}</h4>
    <blockquote>{{surveyToPreview.description}}</blockquote>
    <blockquote>{{surveyAlreadySent(surveyToPreview.title) ? 'Sent' : 'Created'}} : {{getTime(surveyToPreview.when)}}</blockquote>
    <div ng-repeat="question in surveyToPreview.questions track by $index">
      <p class="flow-text">Q{{$index + 1 + ' : ' + question.desc}}</p>
      <div ng-if="question.type == 'text'">
        <input type="text"
            ng-disabled="surveyAlreadySent(surveyToPreview.title)"
            length="150"
            ng-model="surveyToPreview.questions[$index].answers">
      </div>
      <div ng-if="question.type == 'multiple'">
        <div class="row" ng-repeat="option in question.options track by $index">
          <input type="checkbox"
            ng-disabled="surveyAlreadySent(surveyToPreview.title)"
            id="{{$parent.$index + '-' + $index + '-' + option}}"
            ng-model="surveyToPreview.questions[$parent.$index].answers[$index]"
            ng-change="surveyOptionClicked(option)" />
          <label for="{{$parent.$index + '-' + $index + '-' + option}}">{{option}}</label>
        </div>
      </div>
    </div>
    <div class="row center" ng-if="!surveyAlreadySent(surveyToPreview.title)">
      <button class="btn waves-effect waves-light"
        ng-click="validateAndSend(surveyToPreview)">Submit
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
  <div class="modal-footer">
    <a href class="modal-action modal-close btn waves-effect waves-light red">Close</a>
  </div>
</div>